body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
    font-size: 50px;
    color: #555555;
}

h3 {
    margin: 10px 0;
    font-size: 20px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #3a3a3a;

    margin-top: 16px;
    margin-bottom: 10px;
}

h5 {
    font-size: 36px;
    margin: 0;
}

main {
    margin: 0 !important;
    width: 100% !important;
}

nav {
    padding: 0 15px !important;
    background-color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

p {
    font-size: 24px;
    margin: 24px 0;
    color: #3a3a3a;
}


#intro {
    margin-top: 10px;
    padding: 16px 30px;
}

#menu-btn {
    color: white;
    padding: 16px;
}

#menu-btn:hover {
    color: black;
    background-color: white;
}

#slogan {
    letter-spacing: 4px;
    font-size: 15px;
    margin-top: 10px;
}

#side-menu {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 4px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
    z-index: 200;
}

#side-menu a {
    font-size: 16px;
    color: black;

    padding: 0 16px;
}

#side-menu a:hover {
    background-color: #cccccc;
    text-decoration: none;
}

#color-picker {
    width: 150px;
    height: 128px;
    margin: 20px 10px;
}

#web-temp-image {
    margin: 30px 0;
}

#web-cert {
    position: relative;
    padding: 0;
    background-color: black;
}

#overlay-text {
    padding: 25px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    background-color: #00000080;
}

#get-cert-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#get-cert-btn:hover {
    background-color: #f1f1f1;
    box-shadow: none;
}

#get-cert-btn a:hover {
    color: black;
}

#footer-info a {
    text-decoration: underline;
    letter-spacing: normal;
}

#thumbs-up {
    font-size: 30px;
}

#thumbs-up:hover {
    color: white;
}

#links {
    padding: 15px;
}

.imp-btn {
    padding: 12px 24px;
    font-size: 18px;
}

.clear-pad {
    padding: 0 !important;
}

.clear-marg {
    margin: 0 !important;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.brown {
    color: brown;
}

.grey-back {
    background-color: #f1f1f1;
}

.code {
    border-left: 4px solid #4CAF50;
    background-color: white;
    font-family: Consolas, "courier new";
    font-size: 16px;
    margin: 20px 0px;
    padding: 12px 16px;
    word-wrap: normal;
    line-height: 1.4;
    text-align: left;
}

.row .grey-back .code {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.box {
    text-align: center !important;
    padding: 3%;
}

.white-box {
    background-color: white;
    padding: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    height: 250px;
}

.grey-box {
    background-color: #f1f1f1;
    padding: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.line {
    margin-bottom: 10px;
}

.btn {
    border-radius: 0px;
    margin: 5px;
}

.btn a {
    color: white;
}

.btn a:hover {
    text-decoration: none;
}

.grey-btn {
    background-color: #616161;
}

.grey-btn:hover {
    background-color: #ccc;
}

.grey-btn a:hover {
    color: black;
}

.green-btn {
    background-color: #00b852;
}

.green-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.light-btn {
    background-color: #f1f1f1;
}

.light-btn:hover {
    background-color: #cccccc;
}

.light-btn a {
    color: black;
    letter-spacing: normal;
}

.light-btn a:hover {
    color: black;
}

.row:not(main) {
    padding-bottom: 30px;
}

.web-image {
    width: 100% !important;
    object-fit: scale-down !important;
}

.nav-link:hover {
    background-color: grey;
    color: white;

}