{% extends 'progress/base.html' %}
{% load static %}
{%block title %}C Tutorial{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'tutorial_style.css' %}">{% endblock css%}
{% block cactive %}active{% endblock cactive %}
{% block conceptname %}Printf and Scanf {% endblock conceptname %}
{% block body %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <p><strong>1. What does the 'printf' function do in C?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q1a" name="q1" value="A">
            <label class="form-check-label" for="q1a">A) Print formatted text to the console</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q1b" name="q1" value="B">
            <label class="form-check-label" for="q1b">B) Read user input</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q1c" name="q1" value="C">
            <label class="form-check-label" for="q1c">C) Perform mathematical calculations</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q1d" name="q1" value="D">
            <label class="form-check-label" for="q1d">D) Create files</label>
        </div>
    </div>

    <div class="form-group">
        <p><strong>2. How do you print an integer using 'printf'?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q2a" name="q2" value="A">
            <label class="form-check-label" for="q2a">A) %f</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q2b" name="q2" value="B">
            <label class="form-check-label" for="q2b">B) %d</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q2c" name="q2" value="C">
            <label class="form-check-label" for="q2c">C) %s</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q2d" name="q2" value="D">
            <label class="form-check-label" for="q2d">D) %c</label>
        </div>
    </div>

    <div class="form-group">
        <p><strong>3. What is the format specifier for printing a floating-point number with two decimal places in
                'printf'?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q3a" name="q3" value="A">
            <label class="form-check-label" for="q3a">A) %d</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q3b" name="q3" value="B">
            <label class="form-check-label" for="q3b">B) %f</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q3c" name="q3" value="C">
            <label class="form-check-label" for="q3c">C) %lf</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q3d" name="q3" value="D">
            <label class="form-check-label" for="q3d">D) %2f</label>
        </div>
    </div>

    <div class="form-group">
        <p><strong>4. Which 'printf' format specifier is used to print a character?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q4a" name="q4" value="A">
            <label class="form-check-label" for="q4a">A) %s</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q4b" name="q4" value="B">
            <label class="form-check-label" for="q4b">B) %d</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q4c" name="q4" value="C">
            <label class="form-check-label" for="q4c">C) %c</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q4d" name="q4" value="D">
            <label class="form-check-label" for="q4d">D) %f</label>
        </div>
    </div>

    <div class="form-group">
        <p><strong>5. How can you print a string with 'printf'?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q5a" name="q5" value="A">
            <label class="form-check-label" for="q5a">A) %d</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q5b" name="q5" value="B">
            <label class="form-check-label" for="q5b">B) %s</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q5c" name="q5" value="C">
            <label class="form-check-label" for="q5c">C) %f</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q5d" name="q5" value="D">
            <label class="form-check-label" for="q5d">D) %c</label>
        </div>

    </div>

    <div class="form-group">
        <p><strong>6. What does the 'scanf' function do in C?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q6a" name="q6" value="A">
            <label class="form-check-label" for="q6a">A) Print text to the console</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q6b" name="q6" value="B">
            <label class="form-check-label" for="q6b">B) Read user input</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q6c" name="q6" value="C">
            <label class="form-check-label" for="q6c">C) Calculate square roots</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q6d" name="q6" value="D">
            <label class="form-check-label" for="q6d">D) Open files</label>
        </div>
    </div>

    <div class="form-group">
        <p><strong>7. Which 'scanf' format specifier is used to read an integer?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q7a" name="q7" value="A">
            <label class="form-check-label" for="q7a">A) %d</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q7b" name="q7" value="B">
            <label class="form-check-label" for="q7b">B) %f</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q7c" name="q7" value="C">
            <label class="form-check-label" for="q7c">C) %c</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q7d" name="q7" value="D">
            <label class="form-check-label" for="q7d">D) %s</label>
        </div>
    </div>

    <div class="form-group">
        <p><strong>8. How do you read a floating-point number with 'scanf'?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q8a" name="q8" value="A">
            <label class="form-check-label" for="q8a">A) %d</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q8b" name="q8" value="B">
            <label class="form-check-label" for="q8b">B) %f</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q8c" name="q8" value="C">
            <label class="form-check-label" for="q8c">C) %c</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q8d" name="q8" value="D">
            <label class="form-check-label" for="q8d">D) %s</label>
        </div>
    </div>

    <div class="form-group">
        <p><strong>9. What is the format specifier for reading a character using 'scanf'?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q9a" name="q9" value="A">
            <label class="form-check-label" for="q9a">A) %d</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q9b" name="q9" value="B">
            <label class="form-check-label" for="q9b">B) %f</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q9c" name="q9" value="C">
            <label class="form-check-label" for="q9c">C) %c</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q9d" name="q9" value="D">
            <label class="form-check-label" for="q9d">D) %s</label>
        </div>
    </div>

    <div class="form-group">
        <p><strong>10. How can you read a string using 'scanf'?</strong></p>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q10a" name="q10" value="A">
            <label class="form-check-label" for="q10a">A) %d</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q10b" name="q10" value="B">
            <label class="form-check-label" for="q10b">B) %f</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q10c" name="q10" value="C">
            <label class="form-check-label" for="q10c">C) %c</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="q10d" name="q10" value="D">
            <label class="form-check-label" for="q10d">D) %s</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock body %}